{%extends 'layout.html'%}
{%block content%}
	<form method='POST' enctype="multipart/form-data">
		<input type='text' name = 'note' placeholder="Subject" required class='form-control m-3'>
		
		<input type='text' name = 'body' placeholder="Details" required class='form-control m-3'>
		<input type='text' name = 'deadline' placeholder="Deadline" required class='form-control m-3'>

		<div class="text-center">
			<input type='submit' class=' btn btn-secondary' >
		
		</div>
		
	</form>
{%endblock content%}
